.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.product_logo{
  width: 150px;
  height: 150px;
}
.products_list{
  padding-top: 20px;
  display: flex;
}
.products_item{
  margin: 10px;
}
.global_div{
  display: flex;
  justify-content: space-between;
}
.products_list{
  display: flex;
  flex-wrap: wrap;
}
.shopping_cart{
  width: 300px;
  text-align: center;
}
.product_cart_item{
  display: flex;
  align-items: center;
}
.product_cart_logo{
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.product_cart_remove{
  margin-left: 5px;
}
.product_cart_name{
  margin-right: 10px;
}
.link{
  margin-top: 10px;
  font-size: larger;
}
.product_cart_item_details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_cart_details_logo{
  width: 80px;
  height: 80px;
  padding-right: 7px;
}
.product_cart_details_div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.shopping_cart_details_total{
  border-top: 1px solid #222222;
}